/* primary color: #1F17A8 */
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.headline h1{
    margin-top: 20%;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Roboto';
    font-weight: 700;
    line-height: 2.8 rem;
    letter-spacing: rem;

}
.get-in-touch {
    border: 0;
    background-color: #1F17A8;
    color: #fff;
    border-radius: 50px;
    font: 18px 'Roboto';
    text-align: center;
    width: 150px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20%  
}
.get-in-touch:hover {
    background-color: #8f8bd3;
}
.hero img{
    text-align: center;
    width: 100%;
    margin-top: 20%;
}
.banner {
    background-color: #1F17A8;
}
.introduction{
    color: #fff;
    font: 20px 'Roboto';
    font-weight: 200;
    text-align: center;
    padding-top: 7%;
    padding-bottom: 7%;
    line-height: 1.9rem;
    margin-top: 5%;
    margin-bottom: 10%;
}
.intro-btn {
    border: 0;
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    font: 18px 'Roboto';
    text-align: center;
    width: 150px;
    padding: 10px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
.intro-btn:hover{
    background-color: #75757542;
}
.tech-stack-intro {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.tech-stack{
    background-color: #1F17A8;
    border: none;
    color: #fff;
    font: 20px 'Roboto';
    font-weight: 300;
    width: 60%;
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center; 
}
.tech-stack-middle{
    background-color: #1F17A8;
    border: none;
    color: #fff;
    font: 20px 'Roboto';
    font-weight: 300;
    width: 60%;
    padding: 5%;
    margin-top: 15%;
    margin-bottom: 5%;
    text-align: center; 
}
a {
    text-decoration: none;
    color: #fff;
}
a:hover{
    font-weight: 700;
    color: #fff;
}


@media (max-width: 575.98px) { 
    .hero {
        display: flex;
        flex-direction: column-reverse;
    }
        .headline h1{
            text-transform: uppercase;
            font-size: 10px;
            text-align: center;
            margin-top: 60%;
            line-height: 1.5rem;
            
        }
    
    .introduction {
        display: none;
    }
 }